@media  screen and (max-width: 1070px) {

    .navBar {
     flex-direction: column;
     height: auto;

    }

    .list-menu{
       flex-wrap: wrap; 
       gap: 50px;
    }

    .menu{
        margin-bottom: 15px;
    }
    
    .imglogo {
        margin: 0;
    }

    .buttons{
        margin-bottom: 10px;
    }
 
}



@media screen and (max-width: 615px){

    .aside-contain{
       
        height: 250px;
        
    }

}

@media screen and (max-width: 515px){

    .aside-contain{
       
        height: 350px;
        
    }

}

@media screen and (max-width: 340px){

    .aside-contain{
       
        height: 390px;
        
    }

}

@media screen and (max-width: 515px) {
    .fa-solid{
        display: block;
        background-color: var(--main-background-color);
        width: auto;
        height: auto;
    }

    .navBar{
        display: none;
    }
}

@media screen and (min-width: 516px) {
    .navBar1 {
      display: none;
    }
}